@use "./base.scss";

// put your custom CSS here!

.section .description {
  margin: 0;
  color: var(--darkgray);
  font-size: 0.9rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  font-style: italic;
}

footer {
  text-align: center;
  
  ul {
    justify-content: center;
  }
}

